<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    #RewriteCond %{REMOTE_ADDR} !^123\.456\.78\.9$
    #RewriteCond %{REMOTE_ADDR} !^111\.222\.333\.444$
    #RewriteRule ^ - [F,L]

    RewriteRule ^admin/linqirecords$ admin/linqirecords.php [L]
    RewriteRule ^admin/eventrecords$ admin/eventrecords.php [L]
</IfModule>

Options -Indexes

<FilesMatch "\.(htaccess|ini|log|sh|bak|php~|pl)$">
    Require all denied
</FilesMatch>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType text/html "access plus 1 day"
</IfModule>

<IfModule mod_headers.c>
    Header set X-Frame-Options "DENY"
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>